@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(
    135deg,
    #050b12 0%,
    #0b1a2a 40%,
    #0f2740 70%,
    #0a1f33 100%
  );
  background-attachment: fixed;
  color: white;
}
